<a href="https://colab.research.google.com/github/aminulfaizan/data_preprocessing/blob/test1/pre_process2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
%pwd

Mounted at /content/drive

'/content'

In [ ]:
%cd content

[Errno 2] No such file or directory: 'content'
/content

In [ ]:
#%mkdir data_preprocess
%cd data_preprocess
%pwd

[Errno 2] No such file or directory: 'data_preprocess'
/content

'/content'

# tokenize the data by, "Python's Split function" and ICU-Tokenizer

In [ ]:
!pip install ICU-Tokenizer

In [ ]:
from icu_tokenizer import Tokenizer
tokenizer = Tokenizer(lang='bengli')

In [ ]:
import pandas as pd
import re
from pprint import pprint

converting the csv file into pandas Data-Frame

In [ ]:
#Load the CSV into a DataFrame:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/final_data/main_corpus.csv')

In [ ]:
df

                                               final_body
0        নিখোঁজের দিন পর মিললো গলাকাটা মরদেহ কুড়িগ্রাম...
1                                  কুসতুনতুনিয়ায় কয়েকদিন
2        জাল টাকা ছড়িয়ে দিতে সহায়তা করেন অসাধু ব্যাংক...
3        অমিত হাবিবের মৃত্যুতে এডিটরস গিল্ডের শোক জ্যে...
4        রোহিঙ্গা গণহত্যা মামলা দায়ীদের দায়বদ্ধতার আওত...
...                                                   ...
321072  ব্যর্থতার অপবাদ ঘোচাতে চান খোকা সালাম বিএনপির ...
321073  লংমার্চ মহানগর বিএনপির প্রস্তুতি সভা শনিবার ঢা...
321074  রাজনীতিতে সর্বস্তরের অন্তর্ভূক্তি না ঘটলে অস্থ...
321075  খন্দকার মোশাররফ হাসপাতালে বিএনপির স্থায়ী কমিটি...
321076  ভারতে ক্ষমতার পরিবর্তন চায় বিএনপি তিস্তাসহ অভি...

[321077 rows x 1 columns]

## Python's Split functioin

split the DataFrame if require

In [ ]:
# splitting dataframe by row index
df_1 = df.iloc[:255000,:]
df_2 = df.iloc[30000:,:]
print("Shape of new dataframes - {} , {}".format(df_1.shape, df_2.shape))

Shape of new dataframes - (255000, 1) , (291077, 1)

making the corpus by using python's "**split**" function

In [ ]:
corpus = []
for text in df_1['final_body']:
  words = [word for word in text.split()]
  corpus.append(words)

**you can download your data from colab by this**

In [ ]:
from google.colab import files
test2.to_csv('filename.csv', index=False) 
#files.download('filename.csv')  #this line is for dowloading the file

## ICU-Tokenizer

In [ ]:
!pip install ICU-Tokenizer

In [ ]:
from icu_tokenizer import Tokenizer
tokenizer = Tokenizer(lang='bengli')

In [ ]:
# splitting dataframe by row index
df_1 = df.iloc[:200000,:]
df_2 = df.iloc[30000:,:]
print("Shape of new dataframes - {} , {}".format(df_1.shape, df_2.shape))

Shape of new dataframes - (200000, 1) , (291077, 1)

In [ ]:
corpus = []
for text in df_1['final_body']:
  words = [word for word in tokenizer.tokenize(text)]
  corpus.append(words)

### saving the corpus into any other other file format

In [ ]:

import numpy as np
import json
import string

In [ ]:
np.savetxt("corpus.text", corpus, delimiter=", ", fmt="% s")
#files.download('corpus.csv')
%pwd

/usr/local/lib/python3.8/dist-packages/numpy/lib/npyio.py:1378: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  X = np.asarray(X)

'/content'

In [ ]:
#this line is for dowloading the file
from google.colab import files
test2.to_csv('filename.csv', index=False) 
#files.download('filename.csv')

In [ ]:
corpus2 = []
for text in df_2['final_body']:
  words = [word for word in tokenizer.tokenize(text)]
  corpus2.append(words)

In [ ]:
np.savetxt("corpus2.csv", corpus2, delimiter=", ", fmt="% s")
#files.download('corpus.csv')
%pwd